<!DOCTYPE html>
<html>
<head>
  <title>Procarga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<ul class="nav nav-tabs nav-justified">
  <li>Home</li>
  <li>Empresas</li>
  <li>conductores</li>
</ul>

<h1>hola</h1>

<%= yield %>

</body>
</html>
